@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image : linear-gradient( to right ,rgb(105, 146, 161), rgb(0, 0, 255));
  
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(90, 53, 53, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}
    h1{
    color: blueviolet;
    text-align: center;
    text-shadow: 1px 1px 0px black;

    }
    h2{
    color: brown;
    }
p{
    text-align: justify;
}